.main-header {
    background-color: #0172D0;
}

.log-out-block {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #fff;
    border-radius: 8px;
    padding: 7px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.log-out-btn {
    text-decoration: none;
    color: #828282;
    margin-left: 8px;
}

.log-out-block:hover {
    box-shadow: 7px 7px 10px rgb(37, 36, 36);
}

.main-header-profile-credentials {
    border-bottom: 0;
    text-align: center;
    margin-bottom: 0;
}

.main-header-username {
    display: block;
    margin-bottom: 5px;
}

.short-url-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.short-url-content {
    margin-left: 130px;
    width: 55vw;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.short-url-title {
    font-size: 96px;
    color: #333333;
    margin-bottom: 20px;
}

.short-url-text {
    font-size: 24px;
    color: #4E535B;
    margin-bottom: 50px;
}

.short-url-btn {
    font-weight: 500;
    font-size: 27px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    background: #E2474B;
    border-radius: 10px;
    padding: 15px 50px;
    transition: .5s;
}

.short-url-btn:hover {
    box-shadow: 5px 7px 10px rgb(37, 36, 36);
}

.short-url-img{
    padding: 40px 40px 0 0;
}